.receta-imagen {
  width: 100%;
  height: 300px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

ion-card-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.action-buttons {
  padding: 16px;

  ion-button {
    margin-bottom: 10px;
  }
}
