.estado-inicial {
  margin-top: 80px;

  ion-icon {
    font-size: 80px;
    margin-bottom: 20px;
  }

  h3 {
    color: var(--ion-color-dark);
    margin-bottom: 10px;
  }

  p {
    color: var(--ion-color-medium);
  }
}

ion-thumbnail {
  --size: 80px;
  --border-radius: 8px;
}

.descripcion {
  font-size: 12px;
  color: var(--ion-color-medium);
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
